/* Tổng thể */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #fff;
  color: #333;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  background: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}
.search-box {
  width: 500px;
  height: 25px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: 200px;
  background-color: #F5F5F5;
}
.menu {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-right: 60px;
}
.menu a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 14px;
  transition: 0.2s;
}
.menu .home{
  color:black ;
}
.user-icon {
  width: 24px;
  height: 24px;
}

/* Bộ lọc */
.filters {
  display: flex;
  gap: 40px;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
.filters a {
  text-decoration: none;
  color: #888;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  padding-bottom: 6px;
}
.filters a.active {
  color: #000;
  border-bottom: 2px solid #0b74de;
}

/* Danh sách môn học */
.course-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 24px;
  padding: 40px;
}
.course {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}
.course h3 {
  margin: 0 0 14px;
  font-size: 17px;
}
.course ul {
  list-style: none;
  padding: 0;
  margin: 0 0 12px;
}
.course li {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px;
  gap: 8px;
}
.course li img {
  width: 16px;
  height: 16px;
}
.course a {
  font-size: 14px;
  color: rgb(124, 121, 121);
  text-decoration: none;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 8px;
}
input.invalid {
  border-color: #e74c3c;
  outline: none;
}

.error-message {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 4px;
  line-height: 1.2;
}


/* Hiệu ứng */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Trạng thái rỗng */
.course.empty p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 180px;
  color: #999;
  font-style: italic;
}

/* Footer */
.footer {
  background: #111;
  color: #fff;
  
}
.footer-top {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 32px 40px;
  margin-top: 40px;
  padding-top: 60px;
  flex-wrap: wrap;
}
.footer-top div {
  max-width: 260px;
}
.footer-top h4 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 15px;
}
.footer-top p {
  font-size: 13px;
  line-height: 1.6;
  color: #ccc;
  margin: 4px 0;
}
.footer-bottom  {
  margin-left: 50px;
  margin-top: 40px;
  padding-bottom: 80px;
  display: flex;
  gap: 10px;
}
